<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>$archiver</key>
	<string>NSKeyedArchiver</string>
	<key>$objects</key>
	<array>
		<string>$null</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>15</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>26</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>38</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>25</integer>
			</dict>
			<key>ActionCode</key>
			<integer>4097</integer>
			<key>Active</key>
			<true/>
			<key>Predicate</key>
			<dict>
				<key>CF$UID</key>
				<integer>4</integer>
			</dict>
			<key>Title</key>
			<dict>
				<key>CF$UID</key>
				<integer>3</integer>
			</dict>
		</dict>
		<string>New Messages</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>24</integer>
			</dict>
			<key>NSCompoundPredicateType</key>
			<integer>1</integer>
			<key>NSSubpredicates</key>
			<dict>
				<key>CF$UID</key>
				<integer>5</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>23</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>6</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>22</integer>
			</dict>
			<key>NSLeftExpression</key>
			<dict>
				<key>CF$UID</key>
				<integer>7</integer>
			</dict>
			<key>NSPredicateOperator</key>
			<dict>
				<key>CF$UID</key>
				<integer>20</integer>
			</dict>
			<key>NSRightExpression</key>
			<dict>
				<key>CF$UID</key>
				<integer>17</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>16</integer>
			</dict>
			<key>NSArguments</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>NSExpressionType</key>
			<integer>3</integer>
			<key>NSOperand</key>
			<dict>
				<key>CF$UID</key>
				<integer>9</integer>
			</dict>
			<key>NSSelectorName</key>
			<dict>
				<key>CF$UID</key>
				<integer>8</integer>
			</dict>
		</dict>
		<string>valueForKey:</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>10</integer>
			</dict>
			<key>NSExpressionType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSSelfExpression</string>
				<string>NSExpression</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSSelfExpression</string>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>15</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>12</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>14</integer>
			</dict>
			<key>NSExpressionType</key>
			<integer>10</integer>
			<key>NSKeyPath</key>
			<dict>
				<key>CF$UID</key>
				<integer>13</integer>
			</dict>
		</dict>
		<string>isPseudo</string>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSKeyPathSpecifierExpression</string>
				<string>NSExpression</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSKeyPathSpecifierExpression</string>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSMutableArray</string>
				<string>NSArray</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSMutableArray</string>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSKeyPathExpression</string>
				<string>NSFunctionExpression</string>
				<string>NSExpression</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSKeyPathExpression</string>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>19</integer>
			</dict>
			<key>NSConstantValue</key>
			<dict>
				<key>CF$UID</key>
				<integer>18</integer>
			</dict>
			<key>NSExpressionType</key>
			<integer>0</integer>
		</dict>
		<true/>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSConstantValueExpression</string>
				<string>NSExpression</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSConstantValueExpression</string>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>21</integer>
			</dict>
			<key>NSModifier</key>
			<integer>0</integer>
			<key>NSNegate</key>
			<false/>
			<key>NSOperatorType</key>
			<integer>4</integer>
			<key>NSOptions</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSEqualityPredicateOperator</string>
				<string>NSPredicateOperator</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSEqualityPredicateOperator</string>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSComparisonPredicate</string>
				<string>NSPredicate</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSComparisonPredicate</string>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSArray</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSArray</string>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSCompoundPredicate</string>
				<string>NSPredicate</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSCompoundPredicate</string>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>Rule</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>Rule</string>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>25</integer>
			</dict>
			<key>ActionCode</key>
			<integer>4</integer>
			<key>Active</key>
			<true/>
			<key>Predicate</key>
			<dict>
				<key>CF$UID</key>
				<integer>28</integer>
			</dict>
			<key>Title</key>
			<dict>
				<key>CF$UID</key>
				<integer>27</integer>
			</dict>
		</dict>
		<string>Ignore</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>24</integer>
			</dict>
			<key>NSCompoundPredicateType</key>
			<integer>1</integer>
			<key>NSSubpredicates</key>
			<dict>
				<key>CF$UID</key>
				<integer>29</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>23</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>30</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>22</integer>
			</dict>
			<key>NSLeftExpression</key>
			<dict>
				<key>CF$UID</key>
				<integer>31</integer>
			</dict>
			<key>NSPredicateOperator</key>
			<dict>
				<key>CF$UID</key>
				<integer>37</integer>
			</dict>
			<key>NSRightExpression</key>
			<dict>
				<key>CF$UID</key>
				<integer>36</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>16</integer>
			</dict>
			<key>NSArguments</key>
			<dict>
				<key>CF$UID</key>
				<integer>33</integer>
			</dict>
			<key>NSExpressionType</key>
			<integer>3</integer>
			<key>NSOperand</key>
			<dict>
				<key>CF$UID</key>
				<integer>9</integer>
			</dict>
			<key>NSSelectorName</key>
			<dict>
				<key>CF$UID</key>
				<integer>32</integer>
			</dict>
		</dict>
		<string>valueForKeyPath:</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>15</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>34</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>14</integer>
			</dict>
			<key>NSExpressionType</key>
			<integer>10</integer>
			<key>NSKeyPath</key>
			<dict>
				<key>CF$UID</key>
				<integer>35</integer>
			</dict>
		</dict>
		<string>parent.ignored</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>19</integer>
			</dict>
			<key>NSConstantValue</key>
			<dict>
				<key>CF$UID</key>
				<integer>18</integer>
			</dict>
			<key>NSExpressionType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>21</integer>
			</dict>
			<key>NSModifier</key>
			<integer>0</integer>
			<key>NSNegate</key>
			<false/>
			<key>NSOperatorType</key>
			<integer>4</integer>
			<key>NSOptions</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>25</integer>
			</dict>
			<key>ActionCode</key>
			<integer>2</integer>
			<key>Active</key>
			<true/>
			<key>Predicate</key>
			<dict>
				<key>CF$UID</key>
				<integer>40</integer>
			</dict>
			<key>Title</key>
			<dict>
				<key>CF$UID</key>
				<integer>39</integer>
			</dict>
		</dict>
		<string>Priority</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>24</integer>
			</dict>
			<key>NSCompoundPredicateType</key>
			<integer>2</integer>
			<key>NSSubpredicates</key>
			<dict>
				<key>CF$UID</key>
				<integer>41</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>23</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>42</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>50</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>22</integer>
			</dict>
			<key>NSLeftExpression</key>
			<dict>
				<key>CF$UID</key>
				<integer>43</integer>
			</dict>
			<key>NSPredicateOperator</key>
			<dict>
				<key>CF$UID</key>
				<integer>49</integer>
			</dict>
			<key>NSRightExpression</key>
			<dict>
				<key>CF$UID</key>
				<integer>48</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>16</integer>
			</dict>
			<key>NSArguments</key>
			<dict>
				<key>CF$UID</key>
				<integer>45</integer>
			</dict>
			<key>NSExpressionType</key>
			<integer>3</integer>
			<key>NSOperand</key>
			<dict>
				<key>CF$UID</key>
				<integer>9</integer>
			</dict>
			<key>NSSelectorName</key>
			<dict>
				<key>CF$UID</key>
				<integer>44</integer>
			</dict>
		</dict>
		<string>valueForKeyPath:</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>15</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>46</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>14</integer>
			</dict>
			<key>NSExpressionType</key>
			<integer>10</integer>
			<key>NSKeyPath</key>
			<dict>
				<key>CF$UID</key>
				<integer>47</integer>
			</dict>
		</dict>
		<string>parent.priority</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>19</integer>
			</dict>
			<key>NSConstantValue</key>
			<dict>
				<key>CF$UID</key>
				<integer>18</integer>
			</dict>
			<key>NSExpressionType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>21</integer>
			</dict>
			<key>NSModifier</key>
			<integer>0</integer>
			<key>NSNegate</key>
			<false/>
			<key>NSOperatorType</key>
			<integer>4</integer>
			<key>NSOptions</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>22</integer>
			</dict>
			<key>NSLeftExpression</key>
			<dict>
				<key>CF$UID</key>
				<integer>51</integer>
			</dict>
			<key>NSPredicateOperator</key>
			<dict>
				<key>CF$UID</key>
				<integer>57</integer>
			</dict>
			<key>NSRightExpression</key>
			<dict>
				<key>CF$UID</key>
				<integer>56</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>16</integer>
			</dict>
			<key>NSArguments</key>
			<dict>
				<key>CF$UID</key>
				<integer>53</integer>
			</dict>
			<key>NSExpressionType</key>
			<integer>3</integer>
			<key>NSOperand</key>
			<dict>
				<key>CF$UID</key>
				<integer>9</integer>
			</dict>
			<key>NSSelectorName</key>
			<dict>
				<key>CF$UID</key>
				<integer>52</integer>
			</dict>
		</dict>
		<string>valueForKey:</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>15</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>54</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>14</integer>
			</dict>
			<key>NSExpressionType</key>
			<integer>10</integer>
			<key>NSKeyPath</key>
			<dict>
				<key>CF$UID</key>
				<integer>55</integer>
			</dict>
		</dict>
		<string>isMine</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>19</integer>
			</dict>
			<key>NSConstantValue</key>
			<dict>
				<key>CF$UID</key>
				<integer>18</integer>
			</dict>
			<key>NSExpressionType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>21</integer>
			</dict>
			<key>NSModifier</key>
			<integer>0</integer>
			<key>NSNegate</key>
			<false/>
			<key>NSOperatorType</key>
			<integer>4</integer>
			<key>NSOptions</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>$top</key>
	<dict>
		<key>root</key>
		<dict>
			<key>CF$UID</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>$version</key>
	<integer>100000</integer>
</dict>
</plist>
